@media screen and (max-width: 767px) {
  /* Commons */
  body {
    height: auto;
    overflow: unset;
  }
  /* first Face */
  .first_face {
    position: fixed;
  }
  .face_wrap > svg {
    display: block;
    width: 80vw;
    margin: 1rem auto;
  }
  #get_ID_place {
    font-size: 24px;
  }
  #first_logo {
    display: none;
  }
  /* Headers */
  header {
    padding: 13px 0;
    border-bottom: 3px solid white;
  }
  .logo {
    margin: auto;
  }
  .sh {
    display: none;
  }
  /* Mains */
  .wrap {
    width: 100%;
    height: 100%;
  }
  .wrap > .main_content {
    padding: 0 0.5rem;
    grid-template-areas: "." ".";
    grid-template-columns: 1fr;
    column-gap: unset;
  }
  /* Asides */
  aside {
    padding: 2rem 0;
  }
  aside > .aside_bg {
    padding: 0.5rem 1rem;
    border-radius: 60px;
  }
  aside > .aside_bg > .head {
    display: none;
  }
  /* Weather */
  aside > .aside_bg > .body {
    display: grid;
    grid-template-areas: "weathers btns" "weathers sches";
  }
  .body > .setup_btns {
    grid-area: btns;
    padding: 0 1rem;
  }
  .schedules {
    grid-area: sches;
    padding: 0 1rem;
  }
  .schedules > ul > li {
    font-size: 14px;
    text-shadow: 0 0 1px #020715;
    -webkit-text-stroke: 0 transparent;
  }
  #reseter,
  #clearer {
    padding: 0.3rem 0.5rem;
    border-radius: 15px;
    font-size: 18px;
  }
  .weather_info {
    width: 95%;
    height: 95%;
    padding: 1rem;
    margin: auto;
    grid-area: weathers;
  }
  #date {
    padding: 1rem 0 0;
  }
  #date > p {
    text-shadow: 0 0 1px #020715;
    -webkit-text-stroke: 0 transparent;
  }
  #date > span {
    display: none;
  }
  #city {
    font-size: 32px;
    text-shadow: 0 0 1px #020715;
    -webkit-text-stroke: 0 transparent;
  }
  #wet_icon {
    width: 60px;
    height: 60px;
    margin: 1rem auto 1rem;
  }
  #temper {
    width: 72px;
    text-align: right;
    font-size: 2rem;
    text-shadow: 0 0 1px #020715;
    -webkit-text-stroke: 0 transparent;
  }
  #temper + span {
    text-align: left;
    font-size: 1.7rem;
    text-shadow: 0 0 1px #020715;
    -webkit-text-stroke: 0 transparent;
  }
  /* Main Contents */
  main {
    padding: 0;
  }
  .main_logos {
    display: none;
  }
  main > .title {
    border-radius: 45px;
  }
  .title > p {
    font-size: 1rem;
  }
  .title > p:nth-child(1) {
    display: none;
  }
  .title > .placefordata {
    height: 3rem;
    font-size: 2rem;
    text-shadow: 0 0 1px #020715;
    -webkit-text-stroke: 0 transparent;
  }
  main > .main_content {
    padding: 2rem 2rem 0;
    margin: 2rem auto 0;
  }
  .add_schezule {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  #add_place {
    grid-template-areas: "." "." "." "." ".";
    grid-template-columns: auto;
  }
  #add_place > div {
    width: 100%;
    height: 80px;
    margin: 1rem auto;
  }
  #add_place > div > .remover,
  #add_place > div > .checker {
    width: 100%;
    margin: 0 0.2rem;
    height: 100%;
  }
  .sche_place {
    width: 60%;
    margin: 0 1rem;
  }
  .sche_place > input {
    padding: 0.2rem;
  }
  .sche_place > input::placeholder:nth-child(1) {
    content: "제목";
  }
  .sche_place > input::placeholder :nth-child(3) {
    content: "메모";
  }
  .sche_place > label {
    width: 100%;
  }
  .sche_place > label:nth-child(2) {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .sche_place > label:nth-child(4) {
  }
  /* Hide And Show Class */
  aside.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200%);
  }
  main > .title.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-400%);
  }
  main > .main_content.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-600%);
  }
}
